#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  background-color: var(--system-gray-6);
  border-radius: var(--radius-sm);
}
